<!-- Footer -->
<footer
  class="w-full bg-surface-container border-t border-outline-variant mt-xl"
>
  <div
    class="max-w-container-max mx-auto px-gutter py-md flex flex-col md:flex-row justify-between items-center gap-md"
  >
    <div class="text-primary font-bold font-code-md text-code-md">
      © 2026 Shubham Kumar - Building toward Full Stack AI Engineer
    </div>
    <div class="flex gap-lg">
      <a
        class="font-code-md text-code-md text-on-surface-variant hover:text-primary hover:bg-surface-container-high transition-all px-2 py-1"
        href="https://github.com/sshubham-dev"
        >Github</a
      >
      <a
        class="font-code-md text-code-md text-on-surface-variant hover:text-primary hover:bg-surface-container-high transition-all px-2 py-1"
        href="https://www.linkedin.com/in/sshubhamdev/"
        >LinkedIn</a
      >
      <a
        class="font-code-md text-code-md text-on-surface-variant hover:text-primary hover:bg-surface-container-high transition-all px-2 py-1"
        href="mailto:sshubhamdev@gmail.com"
        >Email</a
      >
    </div>
  </div>
</footer>
